*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
body{
    background-color: black;
    line-height: 1.6rem;
    height: 100vh;
}
/* global starts here  */

.container{
    max-width: 1180px;
    width: 80%;
    margin: 0 auto;
    /* height:100vh ; */
}

.flex{
    display: grid;
    justify-content: space-between;
    align-items: center;

}

/* global ends here  */

